.container {
	padding: 2px 4px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.box {
	color: white;
	padding: 1px 20px;
	display: flex;
	justify-content: first baseline;
	align-items: center;
	width: 100%;
	border-radius: 6px;
	cursor: pointer;
}

.active {
	background: #303030;
}

.box:hover {
	background: #333333;
}

.box:active {
	background: #474747;
}

.icon {
	width: 36px;
	height: 36px;
	background: #3a3a3a;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

.text {
	margin-left: 8px;
}