.container {
  width: 100%;
  height: 20px;
  padding: 0 40px;
}

.bar {
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background: var(--primary);
}

.filled_bar {
  width: 0%;
  height: 5px;
  border-radius: 4px;
  background: var(--blue);
}

.circle {
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 50%;
}