.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.container {
  width: 100%;
  max-height: calc(100% - 120px);
  height: min-content;
  background: var(--background);
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  align-items: flex-start;
  overflow: auto;
}